@import "../../../assets/styles/mixins";

$gray: #797979;

.input {
  @apply relative block mb-4;


  > input {
    @apply p-2 w-full text-xs block bg-white rounded-md overflow-hidden gdark:bg-zinc-900 gdark:text-white;
    @include shadow-purple();

    &::placeholder {
      @apply text-gray-400 gdark:text-white gdark:text-opacity-50;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &.withIcon {
    @apply mb-0;
    > input {
      @apply pl-10
    }
  }

  > .icon {
    @apply absolute top-2 left-2 text-stone-600 text-lg;
  }
}

.error {
  @apply absolute -bottom-5 left-0 w-full text-primary gdark:text-purple-400;
  font-size: 0.75rem;
}